body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.drop {
  /* set height to 100% so it fills the lane and things can drop on it */
  height: 100%;
}

.due-today {
  background-color: aqua;
}

.past-due {
  background-color: green;
}